<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
  <% if params[:onboarding_step].present? %>
    <div class="max-w-4xl mx-auto my-8">
       <%= render "shared/onboarding/#{params[:onboarding_step]}/explanation" %>
    </div>
  <% end %>
  <div class="max-w-4xl mx-auto my-8">
    <div class="bg-white shadow rounded-lg p-6">
      <div class="px-4 sm:px-0">
        <div class="md:flex md:items-center md:justify-between">
          <div>
            <h3 class="text-base/7 font-semibold text-gray-900">Recipe Details</h3>
            <p class="mt-1 max-w-2xl text-sm/6 text-gray-500">A carefully crafted recipe for your next Rails app.</p>
          </div>
          <%= render Buttons::Secondary::Component.new(
            text: "Edit Recipe",
            path: edit_recipes_path(recipe_id: @recipe.id, slug: "basic-setup")
          ) %>
          <%= render Buttons::Primary::Component.new(
            text: "Configure App with this Recipe",
            path: new_generated_app_path(recipe_id: @recipe.id, onboarding_step: params[:onboarding_step].present? ? params[:onboarding_step].to_i + 1 : nil)
          ) %>
        </div>
      </div>
      <div class="mt-6 border-t border-gray-100">
        <dl class="divide-y divide-gray-100">
          <div class="bg-gray-50 px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-3">
            <dt class="text-sm/6 font-medium text-gray-900">Name</dt>
            <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0"><%= @recipe.name %></dd>
          </div>

          <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-3">
            <dt class="text-sm/6 font-medium text-gray-900">Status</dt>
            <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
              <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                <%= @recipe.status %>
              </span>
            </dd>
          </div>

          <div class="bg-gray-50 px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-3">
            <dt class="text-sm/6 font-medium text-gray-900">Created By</dt>
            <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0"><%= @recipe.created_by.name %></dd>
          </div>

          <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-3">
            <dt class="text-sm/6 font-medium text-gray-900">Description</dt>
            <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0"><%= @recipe.description %></dd>
          </div>

          <div class="bg-gray-50 px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-3">
            <dt class="text-sm/6 font-medium text-gray-900">CLI Flags</dt>
            <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0 font-mono bg-gray-50 p-2 rounded"><%= @recipe.cli_flags %></dd>
          </div>

          <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-3">
            <dt class="text-sm/6 font-medium text-gray-900">Ingredients</dt>
            <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
              <% if @recipe.recipe_ingredients.any? %>
                <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
                  <%= link_to ingredient_path(recipe_ingredient.ingredient), class: "rounded-xl bg-white px-3 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 mr-4" do %>
                    <%= recipe_ingredient.ingredient.name %>
                  <% end %>
                <% end %>
              <% else %>
                <span>No custom ingredients added.</span>
              <% end %>
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</div>
