<%# Command Generator %>
<div id="rails-new-command-generator-holder"
     class="flex-col bg-deep-azure-zeta pt-3 z-50"
     data-controller="modal">
  <div id="rails-new-output-container"
    class="text-gray-200 max-w-6xl mt-3 sm:mt-3 md:mt-3 lg:mt-4 xl:mt-4 h-auto sm:h-auto md:h-20 lg:h-20 xl:h-auto mb-6 mx-auto flex items-center">
    <p id="rails-new-output-text"
      class="font-mono text-left px-5 sm:px-5 md:px-8 lg:px-10 xl:px-12 text-xs md:text-sm lg:text-sm xl:text-sm break-normal">
      <code class="text-gray-500">rails new my-app </code>
      <code id="api-flag"></code>
      <code data-controller="generated-output" id="database-choice"></code>
      <code data-controller="generated-output" id="rails-flags"></code>
      <code id="rails-bytes"></code>
    </p>
  </div>
  <div class="mt-10 sm:flex-wrap md:flex items-center justify-center divide-y sm:divide-y-2 md:divide-y-0 divide-gray-400 bg-deep-azure-zeta sm:pb-0 md:pb-8">
    <button type="button"
            data-action="click->modal#open"
      class="flex-none inline-flex h-12 items-center bg-deep-azure-gamma rounded-lg px-6 text-gray-100 shadow-2xl hover:bg-deep-azure-epsilon">
      Done Tweaking
    </button>
  </div>
  <%= render "recipe_form_modal" %>
</div>
<%# Tabs and Content %>
<div data-controller="tabs" data-tabs-current-page-value="<%= @page.slug %>">
  <div class="bg-deep-azure-zeta">
    <div class="max-w-7xl mx-auto">
      <div>
        <div>
          <nav class="-mb-px flex space-x-1 md:space-x-2" aria-label="Tabs">
            <% Page.all.each do |page| %>
              <%= link_to setup_recipes_path(slug: page.slug),
                  id: "#{page.slug}-tab",
                  data: {
                    tabs_target: "tab",
                    action: "click->tabs#change",
                    page_slug: page.slug,
                    page_url: setup_recipes_path(slug: page.slug)
                  },
                  class: "tab #{page == @page ? 'tab-active' : 'tab-inactive'}" do %>
                <%= page.title %>
              <% end %>
            <% end %>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div data-tabs-target="panels">
    <% Page.all.each do |page| %>
      <div id="<%= page.slug %>-panel"
           class="<%= page == @page ? "" : "hidden" %>"
           data-tabs-target="panel">
        <%= render Pages::Component.new(page: page) %>
      </div>
    <% end %>
  </div>
</div>
