<div data-controller="recipe-ui-state-store">
  <div id="rails-new-command-generator-holder"
      class="flex flex-col items-center pt-3 sticky top-0 z-50 bg-[#6e7074] w-full"
      data-controller="modal">

    <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-8">
      <%= render "terminal_window" %>
      <%= render "ingredients_container" %>
      <div class="mt-4 sm:flex-wrap flex items-center justify-center">
        <%= render Buttons::Primary::Component.new(
          text: "Done Tweaking",
          size: :large,
          icon: false,
          type: :button,
          data: { action: "click->modal#open" }
        ) %>
      </div>
      <%= render "recipe_form_modal" %>
    </div>
  </div>

  <%# Tabs and Content %>
  <div data-controller="tabs" data-tabs-current-page-value="<%= @page.slug %>">
    <div class="bg-[#6e7074]">
      <div class="max-w-7xl mx-auto">
        <div>
          <div>
            <nav class="-mb-px flex space-x-1 md:space-x-2" aria-label="Tabs">
              <% Page.all.each do |page| %>
                <%= link_to setup_recipes_path(slug: page.slug),
                    id: "#{page.slug}-tab",
                    data: {
                      tabs_target: "tab",
                      action: "click->tabs#change",
                      page_slug: page.slug,
                      page_url: setup_recipes_path(slug: page.slug)
                    },
                    class: "tab #{page == @page ? 'tab-active' : 'tab-inactive'}" do %>
                  <%= page.title %>
                <% end %>
              <% end %>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div data-tabs-target="panels">
      <% Page.all.each do |page| %>
        <div id="<%= page.slug %>-panel"
            class="<%= page == @page ? "" : "hidden" %>"
            data-tabs-target="panel"
            data-recipe-ui-state-store-page-id-value="<%= page.slug %>">
          <%= render Pages::Component.new(page: page) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
