<div class="container mx-auto px-4 py-8">
  <%= turbo_stream_from "#{@generated_app.to_gid}:app_generation_log_entries" %>
  <%= turbo_stream_from "#{@generated_app.to_gid}:app_status" %>
  <%= render "shared/status_steps_content", generated_app: @generated_app %>
  <div id="github_clone_box">
    <%= render "shared/github_clone_box", generated_app: @generated_app %>
  </div>
  <div class="mb-6 flex items-center justify-between mt-8">
    <h1 class="text-2xl font-bold">
      Log Entries for <%= @generated_app.name %>
    </h1>
    <div class="flex items-center gap-2">
      <%= render Buttons::Tertiary::Component.new(
        text: "Back to App",
        path: generated_app_path(@generated_app)
      ) %>
    </div>
  </div>
  <div class="shadow overflow-hidden sm:rounded-lg">
    <div data-controller="log-scroll"
         data-log-scroll-target="container"
         class="divide-y divide-gray-700 h-screen overflow-y-auto"
         id="app_generation_log_entries">
      <%= render partial: "app_generation/log_entries/log_entry", collection: @log_entries %>
    </div>
  </div>
</div>
