<div data-controller="onboarding-sidebar"
     data-onboarding-sidebar-steps-value="<%= {
      "appear:input#main-tab-mains-skip-test" => { currentStep: 1, expectedValue: "" },
      "click:input#main-tab-mains-skip-test" => { currentStep: 2, expectedValue: "" }
     }.to_json %>">
  <div class="min-h-[calc(100vh-10rem)] mt-8 px-4 pt-16 bg-gray-50">
    <nav aria-label="Progress">
      <ol role="list" class="overflow-hidden">
        <%= render OnboardingSidebarStep::Component.new(
          title: "Go to the 'Testing' tab",
          description: "Let's start by adding RSpec as our test framework. You'll find everything related to testing under the `Testing` tab - click on it.",
          current: true,
          step_index: 1
        ) %>
        <%= render OnboardingSidebarStep::Component.new(
          title: "Add a category",
          description: "Type 'Authentication' in the 'Category' field",
          step_index: 2
        ) %>
        <%= render OnboardingSidebarStep::Component.new(
          title: "Add a description",
          description: "This is optional, but strongly recommended. Add something like 'Adding the built-in Rails authentication gem'.",
          step_index: 3
        ) %>
        <%= render OnboardingSidebarStep::Component.new(
          title: "Template content",
          description: "This is the most important part of your ingredient: the actual Thor template that will be executed. Add the following content to the 'Template content' text area: generate 'authentication'",
          step_index: 4
        ) %>
        <%= render OnboardingSidebarStep::Component.new(
          title: "Create your first ingredient",
          description: "Click the 'Create Ingredient' button to save your ingredient.",
          step_index: 5,
          last_step: true
        ) %>
      </ol>
    </nav>

    <template data-onboarding-sidebar-target="nextStepTemplate">
      <%= render OnboardingSidebarStep::Component.new(
        title: "",
        description: "",
        completed: true,
        current: false,
        step_index: 1
      ) %>
    </template>

    <%= hidden_field_tag "current_step", 1 %>
  </div>
</div>
